# Extract Bounding Box

In [9]:
# Import libraries to read in data
import pandas as pd
import numpy as np
import csv
from PIL import Image

In [2]:
xcsv = pd.DataFrame(pd.read_csv('../Data/test_data2.csv'))
xcsv.head()

,filename,width,height,class_name,xmin,ymin,xmax,ymax
0,0.jpg,518,388,Transformer,192.367045,154.588379,284.000046,245.125351
1,1.jpg,518,388,No-Transformer,0.000000,0.000000,0.000000,0.000000
2,10.jpg,518,388,No-Transformer,0.000000,0.000000,0.000000,0.000000
3,11.jpg,518,388,No-Transformer,0.000000,0.000000,0.000000,0.000000
4,12.jpg,518,388,Transformer,222.225888,206.895447,315.952179,350.251026

In [3]:
import cv2

In [24]:
img_path = '../Images/Test/'
dirs = os.listdir( img_path )
item = dirs[0]


print(item)
extension = os.path.splitext(item)[-1].lower()
print(extension)
x = xcsv[xcsv['filename'].str.contains(item)]
print(x)
print(xcsv.head())

#x,y,w,h = [xcsv[x].xmin,xcsv[x].ymin,xcsv[x].xmax,xcsv[x].ymax]
#print(x,y,w,h)
print(x['xmin'])
print(x)
#print(xrow)
#im = Image.open(img_path+item)

63.jpg
.jpg
   filename  width  height      class_name  xmin  ymin  xmax  ymax
60   63.jpg    518     388  No-Transformer   0.0   0.0   0.0   0.0
  filename  width  height      class_name        xmin        ymin        xmax  \
0    0.jpg    518     388     Transformer  192.367045  154.588379  284.000046
1    1.jpg    518     388  No-Transformer    0.000000    0.000000    0.000000
2   10.jpg    518     388  No-Transformer    0.000000    0.000000    0.000000
3   11.jpg    518     388  No-Transformer    0.000000    0.000000    0.000000
4   12.jpg    518     388     Transformer  222.225888  206.895447  315.952179

         ymax
0  245.125351
1    0.000000
2    0.000000
3    0.000000
4  350.251026
60    0.0
Name: xmin, dtype: float64
   filename  width  height      class_name  xmin  ymin  xmax  ymax
60   63.jpg    518     388  No-Transformer   0.0   0.0   0.0   0.0

In [ ]:
def imgext():
    for item in dirs:
        extension = os.path.splitext(item)[-1].lower()
        if extension == '.jpg':
            im = Image.open(path+item)
            f, e = os.path.splitext(path+item)
            imResize = im.resize((518,388), Image.ANTIALIAS)
            imResize.save(path + 'Resized/' + item , 'JPEG', quality=90)